@charset "UTF-8";

.text-justify {
    text-align: justify;
  }

.fundo {
    background-color: #f5f5f5;
}

@media only screen and (max-width: 578px) {
  .centralizar section,h2 {
    text-align:center;
  }
}

@media only screen and (max-width: 578px) {
  .logo {
    margin: auto;
  }
}

.sublinhado a:hover{
  text-decoration-line: underline;
}

.colorhover {
    background-color: rgb(24, 119, 87);
}

.fontetexto{
  color: white;
}

.batata{
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.imglargura{
  width: 100%;
  height: auto;
}

.cardlargura{
  max-width: 460px !important;
}

.cardlargura2{
  max-width: 300px !important;
}

.icones{
  font-size: 28px !important;
}