@charset "UTF-8";
/* CLASSE OK */

.paleta1 {
    background-color: #8FCACA;
}

.paleta2 {
    background-color: #5e8888;
}









/* FIM CLASSE OK */



/* PARTE ANDERSON  */

/* .cardaltura {
    height: 50rem;
}

.cardaltura2 {
    height: 40rem;
} */




/* ul li a {
    : white;
} */

.botao_cor {
    background-color: #8FCACA;
}

.testcor {
    color: white; 
}

.caixaimg {
    object-fit: cover;
    height: 400px;
    }     

.caixapo {
        object-position: 20%;
        }   

.corcard {
    background-color: #f0f0f0;
}

.corcard2 {
    background-color:white;
    border-radius: 0 0 20px 20px;
}

.testeremover {
    text-decoration: none;
}


.tamanhofonte {
    font-size: 24px;
}


.cor3 {
    background-color: #71AD8A;

    /* background-color: #7BBFC0; */
}



.cor2 {
    background-color:rgb(107, 233, 212);
}


/* PARTE ANDERSON */


