@charset "UTF-8";

section{
    margin-bottom: 1%;
}
nav{
    margin-bottom: 1%;
}
.ser{
    width: 50%;
}
.vac{
    width: 100%;
}
.jan{
    width: 100%;
}
.not1{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.not1:hover, .active {
    color: #ed9aa2;
}
.recort{
    text-decoration: none;
    color: black;
}
.recort:hover, .active {
    color: #ed9aa2;
}
.caramba{
    background-color: pink;
}